.redpiece {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: red;

  /* Centrera texten i mitten */
  display: flex;
  align-items: center;     /* lodrätt */
  justify-content: center; /* vågrätt */

  color: white;            /* textfärg */
  font-weight: bold;
}
