td {
  width: 30px;
  height: 30px;
  background-color: #956f47;
  border: 1.8px solid #654c31;
  display: table-cell;
  position: relative;
  transition: box-shadow 0.2s ease-in-out;
  box-sizing: border-box;
}

td:hover {
  box-shadow: inset 2px 2px 10px 0px #bf9a56;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border: 4px solid #654c31;
}
