.blackPiece {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;

  color: white; /* textfärg */
  font-weight: bold;
}

.whitePiece {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #000;

  color: black; /* textfärg */
  font-weight: bold;
}
