.woodenBg {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;

  background-image: repeating-linear-gradient(
      -45deg,
      rgba(0, 0, 0, 0.1) 0px,
      rgba(0, 0, 0, 0.02) 1px,
      transparent 2px,
      transparent 6px
    ),
    linear-gradient(180deg, #8e734f, #ddb182);
}
